# Variables d'environnement Teranga-SN
# Copier ce fichier en .env et remplir les valeurs
# NE JAMAIS commiter le fichier .env

TERANGA_SECRET_SALT=remplacer_par_votre_sel_secret
KAFKA_SERVERS=kafka:9092
MODEL_PATH=/opt/models/rf_flux_touristique.pkl
MLFLOW_TRACKING_URI=file:///opt/models/mlruns
